<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<dict>
		<key>Name</key>
		<string>Berkeley</string>
		<key>Location</key>
		<string>205 Elm Street</string>
		<key>Abbreviation</key>
		<string>bk</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>b</key>
	<dict>
		<key>Name</key>
		<string>Branford</string>
		<key>Location</key>
		<string>74 High Street</string>
		<key>Abbreviation</key>
		<string>br</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>c</key>
	<dict>
		<key>Name</key>
		<string>Calhoun</string>
		<key>Location</key>
		<string>189 Elm Street</string>
		<key>Abbreviation</key>
		<string>cc</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 8:00</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Breakfast: 8:00 - 10:30
Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>d</key>
	<dict>
		<key>Name</key>
		<string>Commons</string>
		<key>Location</key>
		<string>168 Grove Street</string>
		<key>Abbreviation</key>
		<string>co</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Weekdays</key>
				<string>Hot Breakfast: 7:45 - 11:00
Lunch: 11:00 - 2:30</string>
			</dict>
		</array>
	</dict>
	<key>e</key>
	<dict>
		<key>Name</key>
		<string>Davenport</string>
		<key>Location</key>
		<string>248 York Street</string>
		<key>Abbreviation</key>
		<string>dc</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>f</key>
	<dict>
		<key>Name</key>
		<string>Hall of Graduate Studies</string>
		<key>Location</key>
		<string>320 York Street</string>
		<key>Abbreviation</key>
		<string>gs</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Weekdays</key>
				<string>Lunch: 11:30 - 2:00
Dinner: 5:00 - 8:00</string>
			</dict>
		</array>
	</dict>
	<key>g</key>
	<dict>
		<key>Name</key>
		<string>Jonathan Edwards</string>
		<key>Location</key>
		<string>68 High Street</string>
		<key>Abbreviation</key>
		<string>je</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>h</key>
	<dict>
		<key>Name</key>
		<string>Morse</string>
		<key>Location</key>
		<string>302-304 York Street</string>
		<key>Abbreviation</key>
		<string>mc</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 8:00</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Breakfast: 8:00 - 10:30
Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>i</key>
	<dict>
		<key>Name</key>
		<string>Pierson</string>
		<key>Location</key>
		<string>261 Park Street</string>
		<key>Abbreviation</key>
		<string>pc</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>j</key>
	<dict>
		<key>Name</key>
		<string>Saybrook</string>
		<key>Location</key>
		<string>242 Elm Street</string>
		<key>Abbreviation</key>
		<string>sy</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>k</key>
	<dict>
		<key>Name</key>
		<string>Silliman</string>
		<key>Location</key>
		<string>505 College Street</string>
		<key>Abbreviation</key>
		<string>sm</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>l</key>
	<dict>
		<key>Name</key>
		<string>Stiles</string>
		<key>Location</key>
		<string>19 Tower Parkway</string>
		<key>Abbreviation</key>
		<string>es</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 8:00</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Breakfast: 8:00 - 10:30
Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>m</key>
	<dict>
		<key>Name</key>
		<string>Timothy Dwight</string>
		<key>Location</key>
		<string>345 Temple Street</string>
		<key>Abbreviation</key>
		<string>td</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
	<key>n</key>
	<dict>
		<key>Name</key>
		<string>Trumbull</string>
		<key>Location</key>
		<string>241 Elm Street</string>
		<key>Abbreviation</key>
		<string>tc</string>
		<key>Hours</key>
		<array>
			<dict>
				<key>Monday - Thursday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:30</string>
			</dict>
			<dict>
				<key>Friday</key>
				<string>Breakfast: 8:00 - 11:00
Lunch: 11:30 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
			<dict>
				<key>Weekend</key>
				<string>Brunch: 11:00 - 1:30
Dinner: 5:00 - 7:00</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
