<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arts Library (Haas)</key>
	<dict>
		<key>code</key>
		<string>25</string>
		<key>address</key>
		<string>180 York Street</string>
		<key>access</key>
		<string>The Arts Library is open to the Yale community and to the public. Non-Yale visitors are welcome Monday-Friday from 8:30 a.m. - 5 p.m. and must present a photo ID and sign in at the main service desk inside the library. University or Library-issued identification is necessary to enter the Arts Library after 5 p.m.</string>
		<key>email</key>
		<string>art.library@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-2645</string>
	</dict>
	<key>Bass Library</key>
	<dict>
		<key>code</key>
		<string>384</string>
		<key>address</key>
		<string>110 Wall Street</string>
		<key>access</key>
		<string>The Bass Library is open to the public before 6:00 p.m. A Yale ID card or a library-issued pass is required to enter the library after 6:00 p.m.</string>
		<key>email</key>
		<string>ccloffice@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-1874</string>
	</dict>
	<key>Beinecke Rare Book Library</key>
	<dict>
		<key>code</key>
		<string>389</string>
		<key>address</key>
		<string>121 Wall Street</string>
		<key>access</key>
		<string>The Beinecke Rare Book &amp; Manuscript Library is open to all Yale University students and faculty, and visiting researchers whose work requires use of its special collections. Users are encouraged to pre-register online.

Please be prepared to secure most of your belongings in a Beinecke locker, as limited amounts of material are permitted in the reading room.

Beinecke is a non-circulating, closed stack library. Paging is done by library staff during business hours.</string>
		<key>email</key>
		<string>beinecke.library@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-2972</string>
	</dict>
	<key>CSSSI</key>
	<dict>
		<key>code</key>
		<string>395</string>
		<key>address</key>
		<string>219 Prospect Street</string>
		<key>access</key>
		<string>The CSSSI is located on the concourse (lower) level of the Kline Biology Tower. You may enter the CSSSI through the main lobby of KBT OR through the door on the Prospect Street side of the building (Yale ID required for entrance) OR through the corridor on the concourse level of KBT.</string>
		<key>email</key>
		<string>csssi@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-3300</string>
	</dict>
	<key>Classics Library</key>
	<dict>
		<key>code</key>
		<string>392</string>
		<key>address</key>
		<string>344 College Street</string>
		<key>access</key>
		<string>Access to the Classics Library is restricted to current Yale faculty, students, and staff, and entry requires a Yale ID. All Classics Library materials are non-circulating.</string>
		<key>email</key>
		<string>colin.mccaffrey@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-0854</string>
	</dict>
	<key>Divinity Library</key>
	<dict>
		<key>code</key>
		<string>396</string>
		<key>address</key>
		<string>409 Prospect Street</string>
		<key>access</key>
		<string>Visitors not affiliated with Yale University are required to sign into the Divinity Library guest book, located next to the Circulation Desk.

During non-business hours (i.e., evenings after 6:30 p.m. and weekends) access to the Divinity School building, and hence the library, requires card-swipe access with the Yale ID. The ID cards of students, faculty and staff of the Divinity School are automatically set up for access into the building. However, other Yale students, faculty and staff do not have automatic access into the building on evenings and weekends with their Yale ID cards. Access for Yale affiliates may be requested by contacting the Divinity Librarian, Paul Stuehrenberg, at 432-5292, email paul.stuehrenberg@yale.edu.</string>
		<key>email</key>
		<string>divinity.library@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-5274</string>
	</dict>
	<key>Law Library (Lillian Goldman)</key>
	<dict>
		<key>code</key>
		<string>402</string>
		<key>address</key>
		<string>127 Wall Street</string>
		<key>access</key>
		<string>The Law Library is open to all members of the Yale community, including alumni and alumnae. Everyone entering the library will be asked to show a valid Yale University identification card or a Law Library pass. The Law Library does not honor Yale University Library desk passes or stacks passes.

The Library’s facilities are also available to faculty and students from member institutions of Research Libraries Group (RLG) and New England Law Libraries Consortium (NELLCO) upon presentation of a valid identification card from the home institution. Please apply for a pass at the Circulation Desk.

Anyone wishing to use the government documents collection may request access.

Members of the Bar and scholars needing access to the library’s unique collections may apply for special privileges passes by emailing Julian Aiken. 

Yale Law students should obtain a current Law School validation sticker from the Registrar’s office.

For more information, please consult the complete privileges policies.</string>
		<key>email</key>
		<string>lawref@pantheon.yale.edu</string>
		<key>phone</key>
		<string>(203)-432-1606</string>
	</dict>
	<key>Math Library</key>
	<dict>
		<key>code</key>
		<string>406</string>
		<key>address</key>
		<string>12 Hillhouse Avenue</string>
		<key>access</key>
		<string>The Mathematics Library is open to the public.</string>
		<key>email</key>
		<string>mathlibrary@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-4179</string>
	</dict>
	<key>Medical Library (Cushing/Whitney)</key>
	<dict>
		<key>code</key>
		<string>407</string>
		<key>address</key>
		<string>333 Cedar Street</string>
		<key>access</key>
		<string>The Medical Library is open to the public. Visitors without a Yale ID card must sign in at the guard station in the rotunda. </string>
		<key>email</key>
		<string>medcirc@yale.edu</string>
		<key>phone</key>
		<string>(203)-785-5354</string>
	</dict>
	<key>Sterling Memorial Library</key>
	<dict>
		<key>code</key>
		<string>21</string>
		<key>address</key>
		<string>120 High Street</string>
		<key>access</key>
		<string>The Sterling Memorial Library is open to the public before 6 p.m. After 6 p.m., a library-issued pass or a Yale ID is required to enter the building. A library-issued stacks pass, borrowing pass, or a current Yale ID is required to enter the stacks in SML.</string>
		<key>email</key>
		<string>askyale@gmail.com</string>
		<key>phone</key>
		<string>(203)-432-1775</string>
	</dict>
	<key>Walpole Library</key>
	<dict>
		<key>code</key>
		<string>404</string>
		<key>address</key>
		<string>154 Main Street, Farmington CT</string>
		<key>access</key>
		<string>Open by appointment Monday through Friday 8:30 a.m. - 4:45 p.m. The Library is closed on University holidays. The exhibition gallery is open Wednesdays, 2-4:30 p.m. when exhibitions are on view. No appointment is required.

The Lewis Walpole Library is a non-circulating, closed-stack library. Rare books, manuscripts, prints, and drawings may be consulted only in the Reading Room. Visitors are encouraged to view the Reader Guidelines before visiting the library. </string>
		<key>email</key>
		<string>walpole@yale.edu</string>
		<key>phone</key>
		<string>(860)-677-2140</string>
	</dict>
	<key>Yale Center for British Art</key>
	<dict>
		<key>code</key>
		<string>412</string>
		<key>address</key>
		<string>1080 Chapel Street</string>
		<key>access</key>
		<string>Admission to the Yale Center for British Art is always free. This open-stack, non-circulating library is open to the public. Patrons are asked to sign in at the desk.</string>
		<key>email</key>
		<string>ycba.reference@yale.edu</string>
		<key>phone</key>
		<string>(203)-432-2818</string>
	</dict>
</dict>
</plist>
