<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>The Refectory at the Divinity School</key>
	<string>Monday - Friday
Breakfast: 7:30 a.m. - 11 a.m.
Limited Hot Breakfast: 8 a.m. - 10 a.m.
Lunch: 11 a.m. - 2 p.m.
Limited Dinner: 3 p.m. - 7 p.m.

Closed on weekends</string>
	<key>Durfee&apos;s Sweet Shoppe</key>
	<string>Monday - Friday: 10 a.m. - 2:30 a.m.
Weekend: 12 p.m. - 2:30 a.m.</string>
	<key>Marigolds Dining at Harkness Hall</key>
	<string>Monday - Friday
Cont. Breakfast: 7:30 a.m. - 10:30 a.m.
Lunch: 11:30 a.m. - 2 p.m.
Dinner: 5 p.m. - 7:30 p.m.
Catering: 7 a.m. - 7 p.m.
Beverages &amp; snacks: 2 p.m. - 5 p.m.

Closed on weekends</string>
	<key>KBT Cafe</key>
	<string>Monday - Friday
Cont. Breakfast: 8:30 a.m. - 11 a.m.
Lunch: 11 a.m. - 3 p.m.

Closed on weekends</string>
	<key>Thain Family Cafe at Bass Library</key>
	<string>Mon. - Thurs.: 9:45 a.m. - 10 p.m.
Friday: 9:45 a.m. - 5 p.m.
Saturday: 12 p.m. - 5 p.m.
Sunday: 12 p.m. - 10 p.m.</string>
	<key>West Campus Dining</key>
	<string>Monday - Friday
Cont. Breakfast: 8 a.m. - 10:30 a.m.
Lunch: 11:30 a.m. - 1:30 p.m.

Closed on weekends</string>
	<key>Health Center Cafe</key>
	<string>Monday - Friday
Cont. Breakfast: 8:30 a.m. - 11 a.m.
Lunch: 11 a.m. - 3 p.m.

Closed on weekends</string>
	<key>Uncommon</key>
	<string>Monday - Friday: 11 a.m. - 2 p.m.
Closed on weekends</string>
	<key>Widdy&apos;s Restaurant</key>
	<string>Wed. - Sun.: 11 a.m. - 7 p.m.
Closed on Mondays and Tuesdays</string>
</dict>
</plist>
