<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>254 Prospect Street</string>
	<string>276 Prospect Street</string>
	<string>Arnold Hall (304 Elm Street)</string>
	<string>68 Mansfield</string>
	<string>Berkeley College North</string>
	<string>Berkeley College South</string>
	<string>Bingham Hall (Old Campus)</string>
	<string>Branford College</string>
	<string>Calhoun College</string>
	<string>Davenport College</string>
	<string>Davenport Room 004</string>
	<string>Ezra Stiles Harkness Hall</string>
	<string>Ezra Stiles Room B</string>
	<string>Ezra Stiles Room F</string>
	<string>Ezra Stiles South Building L36</string>
	<string>Farnam Hall (Old Campus)</string>
	<string>Helen Hadley 1F</string>
	<string>Helen Hadley 2F</string>
	<string>Helen Hadley 3F</string>
	<string>Helen Hadley 4F</string>
	<string>Helen Hadley 5F</string>
	<string>Hall of Graduate Studies</string>
	<string>Jonathan Edward College</string>
	<string>Morse College Room L60</string>
	<string>Morse College Room L66</string>
	<string>Morse College Room L76</string>
	<string>Pierson College</string>
	<string>Rosenfeld Hall</string>
	<string>Saybrook College</string>
	<string>Silliman College Vanshef Tower</string>
	<string>Silliman College Room M49</string>
	<string>Swing Space</string>
	<string>Timothy Dwight College</string>
	<string>Trumbull College</string>
	<string>379 Canner Street</string>
	<string>511 Prospect Street</string>
	<string>517 Prospect Street</string>
	<string>537 Prospect Street</string>
	<string>Divinity School Fisher Hall</string>
	<string>Divinity School Bellamy Hall</string>
	<string>Divinity School Curtis Hall</string>
	<string>Esplanade A</string>
	<string>Esplanade B</string>
	<string>Esplanade C</string>
	<string>Esplanade D</string>
	<string>Esplanade E</string>
	<string>Mansfield Apartments</string>
	<string>York &amp; Crown A</string>
</array>
</plist>
