<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1582072</string>
	<string>1582050</string>
	<string>1582075</string>
	<string>1582067</string>
	<string>1582019</string>
	<string>1582022</string>
	<string>1582051</string>
	<string>1582024</string>
	<string>1582045</string>
	<string>1582047</string>
	<string>1582079</string>
	<string>1582061</string>
	<string>1582049</string>
	<string>1582025</string>
	<string>1582080</string>
	<string>1582056</string>
	<string>1582060</string>
	<string>1582040</string>
	<string>1582041</string>
	<string>1582042</string>
	<string>1582043</string>
	<string>1582059</string>
	<string>1582058</string>
	<string>1582077</string>
	<string>1582078</string>
	<string>1582076</string>
	<string>1582052</string>
	<string>1582027</string>
	<string>1582053</string>
	<string>1582073</string>
	<string>1582054</string>
	<string>1582029</string>
	<string>1582046</string>
	<string>1582055</string>
	<string>1582064</string>
	<string>1582038</string>
	<string>1582037</string>
	<string>1582039</string>
	<string>1582033</string>
	<string>1582031</string>
	<string>1582032</string>
	<string>1582062</string>
	<string>1582030</string>
	<string>1582034</string>
	<string>1582035</string>
	<string>1582036</string>
	<string>1582044</string>
	<string>1582069</string>
</array>
</plist>
