<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Fall 2013</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>August 28, Wednesday</string>
			<key>Event</key>
			<string>University Orientation for incoming students, 10:30 a.m. - 12 p.m.</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>August 29, Thursday</string>
			<key>Event</key>
			<string>Registration for all studetns, 8:30 a.m. to 5 p.m. School Orientation for incoming students, 9:30 a.m. - 11 a.m. Advanced Studio Lottery, 11 a.m. Fall-term studio classes begin, 2:30 p.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>August 30, Friday</string>
			<key>Event</key>
			<string>Fall term non-studio classes begin, 8:30 a.m. Friday classes do not meet; Monday classes meet instead</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>September 2, Monday</string>
			<key>Event</key>
			<string>No classes. Labor Day</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>October 21-25, Monday - Friday</string>
			<key>Event</key>
			<string>Midterm week</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>November 7, Thursday</string>
			<key>Event</key>
			<string>Open House for prospective applicants</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>November 22, Friday</string>
			<key>Event</key>
			<string>Fall recess begins, 5:20 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>December 2, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>December 6, Friday</string>
			<key>Event</key>
			<string>Fall-term classes end, 5:20 p.m.</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>December 9-13, Monday - Friday</string>
			<key>Event</key>
			<string>Design jury week</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>December 16-18, Monday - Wednesday</string>
			<key>Event</key>
			<string>Course examination period</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>December 18, Wednesday</string>
			<key>Event</key>
			<string>Winter recess begins, 5:20 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2014</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 2, Thursday</string>
			<key>Event</key>
			<string>Closing date for applications for admission in 2014</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 9, Thursday</string>
			<key>Event</key>
			<string>Registration for all studetns, 8:30 a.m. to 5 p.m. Advanced Studio Lottery, 11 a.m. Spring-term studio classes begin, 2:30 p.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 10, Friday</string>
			<key>Event</key>
			<string>Spring term non-studio classes begin, 8:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>January 17, Friday</string>
			<key>Event</key>
			<string>Friday classes do not meet. Monday classes meet instead</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>January 20, Monday</string>
			<key>Event</key>
			<string>No classes. Martin Luther King Day</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>March 3-7, Monday - Friday</string>
			<key>Event</key>
			<string>Midterm week</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>March 8-23, Saturday - Sunday</string>
			<key>Event</key>
			<string>No classes. Spring recess</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>April 25, Friday</string>
			<key>Event</key>
			<string>Spring term classes (except 1013b) end, 5:20 p.m.</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>q</key>
		<dict>
			<key>Date</key>
			<string>April 28 - May 2, Monday - Friday</string>
			<key>Event</key>
			<string>Design studio jury week</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>v</key>
		<dict>
			<key>Date</key>
			<string>April 28 - June 27, Monday - Friday</string>
			<key>Event</key>
			<string>Fieldwork, 1013c first-year building project</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>w</key>
		<dict>
			<key>Date</key>
			<string>May 5-7, Monday - Wednesday</string>
			<key>Event</key>
			<string>Course examination period except for 2022b</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>x</key>
		<dict>
			<key>Date</key>
			<string>May 9, Friday</string>
			<key>Event</key>
			<string>Course examination period for 2022b</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>y</key>
		<dict>
			<key>Date</key>
			<string>May 12, Monday</string>
			<key>Event</key>
			<string>1017c classes begin, 9:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>z</key>
		<dict>
			<key>Date</key>
			<string>May 19, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
		<key>z1</key>
		<dict>
			<key>Date</key>
			<string>June 27, Friday</string>
			<key>Event</key>
			<string>M.Arch. I, first-year spring term 1013c and 1017c classes end, 5:20 p.m.</string>
			<key>Type</key>
			<string>3</string>
		</dict>
	</dict>
</dict>
</plist>
