<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Fall 2013</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>August 28, Wednesday</string>
			<key>Event</key>
			<string>Fall-term elective classes begin. Add/Drop begins</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>August 30, Friday</string>
			<key>Event</key>
			<string>Make-up day: Monday electives meet</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>September 2, Monday</string>
			<key>Event</key>
			<string>Labor Day. Classes do not meet</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>September 4, Wednesday</string>
			<key>Event</key>
			<string>Last day to add full-term and session-1 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>d2</key>
		<dict>
			<key>Date</key>
			<string>September 18, Wednesday</string>
			<key>Event</key>
			<string>Last day to drop full-term and session 1 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>d3</key>
		<dict>
			<key>Date</key>
			<string>October 3, Thursday</string>
			<key>Event</key>
			<string>Session-1 core classes end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>October 7-12, Monday - Saturday</string>
			<key>Event</key>
			<string>Core final exam period. Elective classes meet</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>October 10, Thursday</string>
			<key>Event</key>
			<string>Elective classes end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>October 11, Friday</string>
			<key>Event</key>
			<string>Session-1 elective final exam period</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>October 14-18, Monday - Friday</string>
			<key>Event</key>
			<string>Global Network Week. MGT 401 meets (all sessions mandatory for this core course)</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>October 21, Monday</string>
			<key>Event</key>
			<string>Classes resume</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>m2</key>
		<dict>
			<key>Date</key>
			<string>October 28, Monday</string>
			<key>Event</key>
			<string>Last day to add session 2 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>m3</key>
		<dict>
			<key>Date</key>
			<string>November 11, Monday</string>
			<key>Event</key>
			<string>Last day to drop session 2 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>November 22, Friday</string>
			<key>Event</key>
			<string>Thanksgiving recess begins</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>December 2, Monday</string>
			<key>Event</key>
			<string>Classes resume</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>December 10, Tuesday</string>
			<key>Event</key>
			<string>Classes end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>q</key>
		<dict>
			<key>Date</key>
			<string>December 11, Wednesday</string>
			<key>Event</key>
			<string>Classes that meet on Wednesdays only end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>r</key>
		<dict>
			<key>Date</key>
			<string>December 12, Thursday</string>
			<key>Event</key>
			<string>Classes that meet on Thursdays only end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>s</key>
		<dict>
			<key>Date</key>
			<string>December 11-17, Wednesday - Tuesday</string>
			<key>Event</key>
			<string>Final exam period</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>t</key>
		<dict>
			<key>Date</key>
			<string>December 18, Wednesday</string>
			<key>Event</key>
			<string>Winter recess begins</string>
			<key>Type</key>
			<string>1</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2014</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 6-10, Monday - Friday</string>
			<key>Event</key>
			<string>Super Week (investment banking interviews)</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 13, Monday</string>
			<key>Event</key>
			<string>Spring term courses begin. Add/Drop begins</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 17, Friday</string>
			<key>Event</key>
			<string>Make-up day for Monday classes (electives &amp; core)</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>January 20, Monday</string>
			<key>Event</key>
			<string>Martin Luther King Day. Classes do not meet. Administrative offices closed</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>d2</key>
		<dict>
			<key>Date</key>
			<string>January 21, Tuesday</string>
			<key>Event</key>
			<string>Last day to add full-term and session 1 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>d3</key>
		<dict>
			<key>Date</key>
			<string>February 3, Monday</string>
			<key>Event</key>
			<string>Last day to drop full-term and session 1 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>February 14, Friday</string>
			<key>Event</key>
			<string>MGT 425 The Global Macroeconomy meets (attendance required for this core course)</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>February 25, Tuesday</string>
			<key>Event</key>
			<string>Session 1 courses end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>February 26, Wednesday</string>
			<key>Event</key>
			<string>Classes that meet on Wednesdays only end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>February 27, Thursday</string>
			<key>Event</key>
			<string>Classes that meet on Thursdays only end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>February 26-28, Wed - Fri</string>
			<key>Event</key>
			<string>Examination period</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>March 1, Saturday</string>
			<key>Event</key>
			<string>Spring recess begins</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>March 11, Tuesday</string>
			<key>Event</key>
			<string>Class of 2015 International Experience begins</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>March 20, Thursday</string>
			<key>Event</key>
			<string>Class of 2014 International Experience ends</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>March 24, Monday</string>
			<key>Event</key>
			<string>Classes resume</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>m2</key>
		<dict>
			<key>Date</key>
			<string>March 31, Monday</string>
			<key>Event</key>
			<string>Last day to add session 2 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>m3</key>
		<dict>
			<key>Date</key>
			<string>April 14, Monday</string>
			<key>Event</key>
			<string>Last day to drop session 2 courses, 11:59 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>May 6, Tuesday</string>
			<key>Event</key>
			<string>Classes end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>May 7, Wednesday</string>
			<key>Event</key>
			<string>Classes that meet on Wednesdays only end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>May 8, Thursday</string>
			<key>Event</key>
			<string>Classes that meet on Thursdays only end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>q</key>
		<dict>
			<key>Date</key>
			<string>May 7-13, Wednesday - Tuesday</string>
			<key>Event</key>
			<string>Examination period</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>r</key>
		<dict>
			<key>Date</key>
			<string>May 19, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
	</dict>
</dict>
</plist>
