<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Fall 2014</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>August 25, Monday</string>
			<key>Event</key>
			<string>Orientation for new graduate students begins.</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>August 27-29, Wednesday - Friday</string>
			<key>Event</key>
			<string>Orientation and registration for all new J.D. students.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>September 1, Monday</string>
			<key>Event</key>
			<string>Labor Day. No classes meet.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>September 2, Tuesday</string>
			<key>Event</key>
			<string>Registration for all returning students.</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>September 3, Wednesday</string>
			<key>Event</key>
			<string>Fall term begins, 8:10 a.m. Classes begin, 8:10 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>September 10, Wednesday</string>
			<key>Event</key>
			<string>Add/drop period closes, 4:30 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>October 9, Thursday</string>
			<key>Event</key>
			<string>Fall recess begins, 6 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>October 14, Tuesday</string>
			<key>Event</key>
			<string>Classes resume, 8:10 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>November 21, Friday</string>
			<key>Event</key>
			<string>Thanksgiving recess begins, 6 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>December 1, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:10 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>December 10, Wednesday</string>
			<key>Event</key>
			<string>Only Friday classes will meet.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>December 11, Friday</string>
			<key>Event</key>
			<string>Only Monday classes will meet. Thirteen-week session ends.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>December 18, Thursday</string>
			<key>Event</key>
			<string>Classes end; winter recess begins, 6 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>January 6, Tuesday</string>
			<key>Event</key>
			<string>Recess ends; examination period begins, 8:30 a.m.</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>January 15, Thursday</string>
			<key>Event</key>
			<string>Examination period ends; fall term ends, 5:00 p.m.</string>
			<key>Type</key>
			<string>5</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2015</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 19, Monday</string>
			<key>Event</key>
			<string>Martin Luther King Holiday; no classes.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 20, Tuesday</string>
			<key>Event</key>
			<string>Spring term begins, 8:10 a.m.; registration for all students.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 21, Wednesday</string>
			<key>Event</key>
			<string>Add/drop period begins, 8:30 a.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>January 28, Wednesday</string>
			<key>Event</key>
			<string>Add/drop period closes, 4:30 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>March 13, Friday</string>
			<key>Event</key>
			<string>Spring recess begins, 6 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>March 23, Monday</string>
			<key>Event</key>
			<string>Spring recess ends; classes resume, 8:10 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>April 27, Monday</string>
			<key>Event</key>
			<string>Classes end.</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>April 28, Tuesday</string>
			<key>Event</key>
			<string>Reading period begins.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>May 4, Monday</string>
			<key>Event</key>
			<string>Examination period begins, 9 a.m.</string>
			<key>Type</key>
			<string>5</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>May 11, Monday</string>
			<key>Event</key>
			<string>Scheduled examinations end, 5 p.m.</string>
			<key>Type</key>
			<string>6</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>May 14, Thursday</string>
			<key>Event</key>
			<string>Self-scheduled examinations end, 5 p.m.</string>
			<key>Type</key>
			<string>6</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>May 15, Friday</string>
			<key>Event</key>
			<string>Rescheduled examinations end; spring term ends, 5 p.m.</string>
			<key>Type</key>
			<string>6</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>May 18, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>May 27, Wednesday</string>
			<key>Event</key>
			<string>Degrees voted by faculty.</string>
			<key>Type</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
