<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Fall 2014</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>July 31-2, Thursday - Saturday</string>
			<key>Event</key>
			<string>Orientation for International Students</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>August 3, Sunday</string>
			<key>Event</key>
			<string>Orientation for summer modules</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>August 4-22</string>
			<key>Event</key>
			<string>Training modules in technical skills &amp; orientation events</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>August 25, Monday</string>
			<key>Event</key>
			<string>Meeting with the Dean and academic orientation for 1st-year students (mandatory), 9 a.m. - 12 p.m., Burke Auditorium</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>August 26, Tuesday</string>
			<key>Event</key>
			<string>Course Expo, 9 a.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>August 27, Wednesday</string>
			<key>Event</key>
			<string>Fall term classes begin, 8:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>September 1, Monday</string>
			<key>Event</key>
			<string>No classes. Labor Day</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>September 10, Wednesday</string>
			<key>Event</key>
			<string>Course registration closes</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>September 17, Wednesday</string>
			<key>Event</key>
			<string>Add/Drop period ends</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>October 21, Tuesday</string>
			<key>Event</key>
			<string>October recess begins, 5:30 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>October 27, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>November 21, Friday</string>
			<key>Event</key>
			<string>November recess begins, 5:30 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>December 1, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>December 5, Friday</string>
			<key>Event</key>
			<string>Classes end. Reading period begins, 5:30 p.m.</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>December 12-17, Friday - Wednesday</string>
			<key>Event</key>
			<string>Final exams</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>December 17, Wednesday</string>
			<key>Event</key>
			<string>Winter recess begins, 5:30 p.m.</string>
			<key>Type</key>
			<string>5</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2015</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 5, Friday</string>
			<key>Event</key>
			<string>Fall semester grades due</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 12, Monday</string>
			<key>Event</key>
			<string>Spring term classes begin</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 19, Monday</string>
			<key>Event</key>
			<string>No classes. Martin Luther King Day</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>January 27, Tuesday</string>
			<key>Event</key>
			<string>Course registration closes</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>February 3, Tuesday</string>
			<key>Event</key>
			<string>Add/Drop period ends</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>March 6, Friday</string>
			<key>Event</key>
			<string>Spring recess begins, 5:30 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>March 23, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>April 24, Friday</string>
			<key>Event</key>
			<string>Classes end. Reading period begins, 5:30 p.m.</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>May 1-6, Friday - Wednesday</string>
			<key>Event</key>
			<string>Final examinations</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>May 11, Monday</string>
			<key>Event</key>
			<string>Spring semester grades due for graduating students</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>May 18, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>May 22, Friday</string>
			<key>Event</key>
			<string>Spring semester grades due for continuing students</string>
			<key>Type</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
