<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Fall 2014</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>July 14, Monday</string>
			<key>Event</key>
			<string>Incoming First-Year M.Arch. I 1001c classes begin, 9 a.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>August 15, Friday</string>
			<key>Event</key>
			<string>1001c classes end, 5:20 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>August 18, Monday</string>
			<key>Event</key>
			<string>Shop Orientation for incoming students begins, 9 a.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>August 22, Friday</string>
			<key>Event</key>
			<string>Shop Orientation ends, 5 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>August 27, Wednesday</string>
			<key>Event</key>
			<string>Fall Term Undergraduate classes begin. University Orientation for incoming students,10:30 a.m.–12 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>August 28, Thursday</string>
			<key>Event</key>
			<string>Registration for all students, 9:00 a.m.–5 p.m. School Orientation for incoming students, 9:30–11 a.m. Advanced Studio Lottery, 11 a.m. Fall-term Graduate Design Studio classes begin, 2:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>August 29, Friday</string>
			<key>Event</key>
			<string>Fall-term Graduate non-studio classes begin. Friday classes do not meet; Monday classes meet instead</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>September 1, Monday</string>
			<key>Event</key>
			<string>No classes. Labor Day.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>September 5, Friday</string>
			<key>Event</key>
			<string>Student Course Registrations due, 4:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>September 12, Friday</string>
			<key>Event</key>
			<string>Last opportunity for students to add courses, 4:00pm</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>September 22-28, Monday-Sunday</string>
			<key>Event</key>
			<string>Advanced Studio Travel Week</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>October 10, Friday</string>
			<key>Event</key>
			<string>Last opportunity for students to drop courses without recorded grade of Withdraw, 4:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>October 20-24, Monday-Friday</string>
			<key>Event</key>
			<string>Midterm week</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>November 6, Thursday</string>
			<key>Event</key>
			<string>Open House for Prospective Students</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>November 21, Friday</string>
			<key>Event</key>
			<string>Fall recess begins, 5:20 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>November 24-28, Monday-Friday</string>
			<key>Event</key>
			<string>No Classes - Fall recess</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>q</key>
		<dict>
			<key>Date</key>
			<string>December 5, Friday</string>
			<key>Event</key>
			<string>Last opportunity for students to drop courses with recorded grade of Withdraw, 4:00 p.m. Fall-term classes end, 5:20 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>r</key>
		<dict>
			<key>Date</key>
			<string>December 8-12, Monday-Friday</string>
			<key>Event</key>
			<string>Design Studio Jury Week</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>s</key>
		<dict>
			<key>Date</key>
			<string>December 15, Monday</string>
			<key>Event</key>
			<string>Last date to submit Spring 2015 Independent Study requests, 4:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>t</key>
		<dict>
			<key>Date</key>
			<string>December 15-17, Monday-Wednesday</string>
			<key>Event</key>
			<string>Graduate Non-studio Examination Period</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>u</key>
		<dict>
			<key>Date</key>
			<string>December 17, Wednesday</string>
			<key>Event</key>
			<string>Winter recess begins, 5:20 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>v</key>
		<dict>
			<key>Date</key>
			<string>December 19, Friday</string>
			<key>Event</key>
			<string>Last possible due date for final papers. Studio grades and evaluations of students due.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2015</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 2, Friday</string>
			<key>Event</key>
			<string>Closing date for applications for admission in 2014. Non-studio grades and evaluations of students due. Portfolios due, for those req&apos;d, 4:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 8, Thursday</string>
			<key>Event</key>
			<string>Registration begins, 9:00 a.m. Advanced Studio Lottery, 11 a.m. Spring-term Graduate Studios begin, 2:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 9, Friday</string>
			<key>Event</key>
			<string>Spring-term Graduate Non-Studio classes begin, 8:30 a.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>January 16, Friday</string>
			<key>Event</key>
			<string>Friday classes do not meet; Monday classes meet instead</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>January 19, Monday</string>
			<key>Event</key>
			<string>No classes. Martin Luther King, Jr. Holiday (Regular classes for this day to meet on Friday, Jan 16)</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>January 30, Friday</string>
			<key>Event</key>
			<string>Last opportunity to add courses, 4:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>February 2-8, Monday-Sunday</string>
			<key>Event</key>
			<string>Advanced Studio Travel Week</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>February 20, Friday</string>
			<key>Event</key>
			<string>Last opportunity to drop courses without recorded grade of Withdraw, 4:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>March 2-6, Monday-Friday</string>
			<key>Event</key>
			<string>Midterm Week</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>March 9-20, Monday-Friday</string>
			<key>Event</key>
			<string>No classes - Spring recess</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>March 23, Monday</string>
			<key>Event</key>
			<string>Classes resume</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>April 2 or 9, Thursday</string>
			<key>Event</key>
			<string>Open house for Accepted Applicants</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>April 24, Friday</string>
			<key>Event</key>
			<string>Last opportunity to drop courses with recorded grade of Withdraw, 4:00 p.m. Spring-term classes (except 1013b) end, 5:20 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>April 27 - May 1, Monday-Friday</string>
			<key>Event</key>
			<string>Design Studio Jury Week</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>April 27, Monday</string>
			<key>Event</key>
			<string>1013c fieldwork begins, Yale Building Project</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>May 2-17, Saturday-Sunday</string>
			<key>Event</key>
			<string>Graduate students input on-line course evaluations</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>q</key>
		<dict>
			<key>Date</key>
			<string>May 4, Monday</string>
			<key>Event</key>
			<string>Last date to submit Fall 2015 Independent Study requests, 4:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>r</key>
		<dict>
			<key>Date</key>
			<string>May 4-6, Monday-Wednesday</string>
			<key>Event</key>
			<string>Graduate Non-studio Final Examination Period, except for 2022b</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>s</key>
		<dict>
			<key>Date</key>
			<string>May 8, Friday</string>
			<key>Event</key>
			<string>Last possible due date for final papers and Final Examination Period for 2022b</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>t</key>
		<dict>
			<key>Date</key>
			<string>May 11, Monday</string>
			<key>Event</key>
			<string>M.Arch I 2nd-yr, M.Arch II 1st-yr, and graduating students&apos; portfolios due, 4:00 p.m.
            
            Non-studio grades and evaluations of students due</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>u</key>
		<dict>
			<key>Date</key>
			<string>May 12, Monday</string>
			<key>Event</key>
			<string>1017c classes begin, 9:30 a.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>v</key>
		<dict>
			<key>Date</key>
			<string>May 14, Thursday</string>
			<key>Event</key>
			<string>1291c classes begin in Rome</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>w</key>
		<dict>
			<key>Date</key>
			<string>May 17, Sunday</string>
			<key>Event</key>
			<string>Reception, year-End Exhibition, 5:00-7:00 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>x</key>
		<dict>
			<key>Date</key>
			<string>May 18, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>y</key>
		<dict>
			<key>Date</key>
			<string>June 12, Tuesday</string>
			<key>Event</key>
			<string>1291c classes end in Rome</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>z</key>
		<dict>
			<key>Date</key>
			<string>June 26, Friday</string>
			<key>Event</key>
			<string>M.Arch. I, first-year spring-term 1013c and 1017c classes end, 5:20 pm.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
	</dict>
</dict>
</plist>
