<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2013</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 7, Monday</string>
			<key>Event</key>
			<string>Spring term classes begin, 9 a.m. Spring term registration for all students</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 21, Monday</string>
			<key>Event</key>
			<string>Martin Luther King Day. Classes suspended. Production work proceeds as scheduled</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>March 16, Saturday</string>
			<key>Event</key>
			<string>Spring recess begins, 11:59 p.m., for students not involved in School of Drama or Yale Repertory Theatre productions</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>March 25, Monday</string>
			<key>Event</key>
			<string>Spring recess ends. Classes resume, 9 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>April 6, Saturday</string>
			<key>Event</key>
			<string>Work period begins, 11:59 p.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>April 15, Monday</string>
			<key>Event</key>
			<string>Work period ends. Classes resume, 9 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>April 29, Monday</string>
			<key>Event</key>
			<string>Spring term classes end. Work period begins, 11:59 p.m.</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>May 15, Wednesday</string>
			<key>Event</key>
			<string>Work period ends. Summer recess begins, 11:59 p.m. for students not involved in School of Drama or Yale Repertory Theatre productions</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>May 20, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
	</dict>
</dict>
</plist>
