<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Fall 2013</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>August 26, Monday</string>
			<key>Event</key>
			<string>Online course registration opens</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>August 28, Wednesday</string>
			<key>Event</key>
			<string>Yale College classes begin</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>September 3, Tuesday</string>
			<key>Event</key>
			<string>New and returning students orientation</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>September 3-6, Tuesday - Friday</string>
			<key>Event</key>
			<string>Placement tests, language exams, advisories and ensemble auditions</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>September 6, Friday</string>
			<key>Event</key>
			<string>YSM classes begin, 8:20 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>September 9, Monday</string>
			<key>Event</key>
			<string>Annual Opening Convocation &amp; Reception (MANDATORY)</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>September 13, Friday</string>
			<key>Event</key>
			<string>Fall course schedules due, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>September 20, Friday</string>
			<key>Event</key>
			<string>Add/Drop deadline, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>October 23, Wednesday</string>
			<key>Event</key>
			<string>Yale College recess begins</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>October 28, Monday</string>
			<key>Event</key>
			<string>Yale College classes resume</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>November 8, Friday</string>
			<key>Event</key>
			<string>Last day to elect Pass/Fail option, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>November 23, Saturday</string>
			<key>Event</key>
			<string>November Recess begins</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>December 1, Sunday</string>
			<key>Event</key>
			<string>Deadline for Fall 2013 Applications</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>December 2, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:20 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>December 6, Friday</string>
			<key>Event</key>
			<string>Last day to withdraw from a class, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>December 13, Friday</string>
			<key>Event</key>
			<string>MMA Auditions. Classes end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>q</key>
		<dict>
			<key>Date</key>
			<string>December 16-20, Monday - Friday</string>
			<key>Event</key>
			<string>Exam week</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>r</key>
		<dict>
			<key>Date</key>
			<string>December 21, Saturday</string>
			<key>Event</key>
			<string>Winter Recess begins</string>
			<key>Type</key>
			<string>1</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2014</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 13, Monday</string>
			<key>Event</key>
			<string>YSM and Yale College classes begin, 8:20 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 17, Friday</string>
			<key>Event</key>
			<string>Spring term course schedule due, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 20, Monday</string>
			<key>Event</key>
			<string>Martin Luther King Day. No classes; University offices closed</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>January 24, Friday</string>
			<key>Event</key>
			<string>Add/Drop deadline, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>February 7-10, Friday - Monday</string>
			<key>Event</key>
			<string>Written comprehensive examinations for MMA candidates in residence</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>February 24 - March 1, Mon - Sat</string>
			<key>Event</key>
			<string>School of Music auditions</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>February 26-28, Wed - Fri</string>
			<key>Event</key>
			<string>No classes</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>March 1, Saturday</string>
			<key>Event</key>
			<string>DMA entrance exam</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>March 8, Saturday</string>
			<key>Event</key>
			<string>Spring recess begins</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>March 24, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:20 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>April 4, Friday</string>
			<key>Event</key>
			<string>Last day to elect Pass/Fail option, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>April 25, Friday</string>
			<key>Event</key>
			<string>Last day to withdraw from a class, 4 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>m</key>
		<dict>
			<key>Date</key>
			<string>May 2, Friday</string>
			<key>Event</key>
			<string>Classes end. Last day of degree recitals</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>n</key>
		<dict>
			<key>Date</key>
			<string>May 4, Sunday</string>
			<key>Event</key>
			<string>Honors Dinner</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>o</key>
		<dict>
			<key>Date</key>
			<string>May 5-7, Monday - Wednesday</string>
			<key>Event</key>
			<string>MMA oral examinations</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>p</key>
		<dict>
			<key>Date</key>
			<string>May 5-9, Monday - Friday</string>
			<key>Event</key>
			<string>Exam week</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>q</key>
		<dict>
			<key>Date</key>
			<string>May 18, Sunday</string>
			<key>Event</key>
			<string>Commencement concert</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>r</key>
		<dict>
			<key>Date</key>
			<string>May 19, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
	</dict>
</dict>
</plist>
