<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2013</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 14, Monday</string>
			<key>Event</key>
			<string>Spring term classes begin</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 21, Monday</string>
			<key>Event</key>
			<string>Martin Luther King Day. Classes do not meet</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 29, Tuesday</string>
			<key>Event</key>
			<string>Course registration deadline. Late fee $50</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>March 8, Friday</string>
			<key>Event</key>
			<string>Last day to withdraw from a spring term course without the course appearing on the transcript</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>March 8, Friday</string>
			<key>Event</key>
			<string>Spring recess begins, 6 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>March 25, Monday</string>
			<key>Event</key>
			<string>Classes resume, 8:30 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>April 26, Friday</string>
			<key>Event</key>
			<string>Last day to withdraw from a spring term course</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>April 26, Friday</string>
			<key>Event</key>
			<string>Classes end, 6 p.m. Reading period begins. (some classes may meet during reading week)</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>May 2-8, Thursday - Wednesday</string>
			<key>Event</key>
			<string>Final examination period</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>May 20, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Grading Calendar</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>August 24, Friday</string>
			<key>Event</key>
			<string>Final grades due for AP M.P.H. summer session</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 7, Monday</string>
			<key>Event</key>
			<string>Final grades due for all students</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>May 1, Wednesday</string>
			<key>Event</key>
			<string>Final thesis grades due to registrar</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>May 13, Monday</string>
			<key>Event</key>
			<string>Final grades due for all graduating students</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>June 3, Monday</string>
			<key>Event</key>
			<string>Final grades due for returning students</string>
			<key>Type</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
